
{% extends "base.html" %}
{%import 'macros.html' as macro%}

{% block header%}
<div id="head">         
      <img src="{{user_image}}" style="width: 1890px; height: 550px; background-position: center; background-size: cover;">
    </div>
</div>
{% endblock%}


<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">    
{% endblock %}

</div>

{%block content%}

<div class="container">
<div class="row">
  <div class = "col-md-12">
    <h3 align="center">News Sources</h3>
    <h4>{{ macro.displaySourcesList(sources)}}</h4>
</div>
</div>
  
</div>
{%endblock%}
