  

{% macro displaySourcesList(sources_list) %}

{% for sources in sources_list %}


<div id="source" class="col-md-6">

      <!-- Card -->
  <div class="card card-image top" >

    <!-- Content -->
    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
      <div>
        <h3 class="card-title pt-2"><strong>{{sources.name}}</strong></h3>
        <p>{{sources.category}} news category</p>
        <p>{{sources.description}}</p>      
       

        <a href="/articles/{{sources.id}}" class="btn btn-pink"><i class="fas fa-clone left"></i>See article</a>
      </div>
    </div>

  </div>
  <!-- Card -->


{% endfor %}

{% endmacro %}

