  

{% macro displaySourcesList(sources_list) %}

{% for sources in sources_list %}


<div id="source" class="col-md-12">

      <!-- Card -->
  <div class="card card-image top" >

    <!-- Content -->
    <div class="text-black text-center d-flex align-items-center rgba-black-strong py-5 px-4">
      <div>
        <h3 class="card-title pt-2" ><strong>{{sources.name}}</strong></h3>
        <hr>
        <p style="font-size: smaller;"><i>{{sources.category}} news category </i> </p>
        <p style="font-size: smaller; ">{{sources.description}}</p>      
       

        <a href="/articles/{{sources.id}}" class="btn btn-primary"><i class="fas fa-clone left"></i>See article</a>
      </div>
    </div>
    </div>

  </div>
  <!-- Card -->


{% endfor %}

{% endmacro %}

{% macro displayArticlesList(articles_list) %}  

    {% for articles in articles_list %}

    <div class="col-md-6">
        <div class="card">
            {% if articles.urlToImage %}
            <img src="{{ articles.content }}" height="400" width="500" alt="{{ articles.title | truncate(10) }}">
            {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ articles.title }}</h5>
            <p class="card-text">Uploaded on:{{ articles.publishedAt}} </p>
            <p class="card-text"><small class="text-muted">Compiled by:{{ articles.author}}</small></p>
            <p class="card-text"><small class="text-muted"><a href="{{ articles.url }}"><button>Read More...</button></a></small></p>

          </div>
        </div>
    </div>                
    {% endfor %}

{% endmacro %}

